* {
    box-sizing: border-box;
}

body {
    background-color: #b71c1c;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

td{
    text-align: center;
}

.wrapper {
    margin: auto;
    margin-top: 50px;
    width: 1500px;
}

.page-inner {
    max-width: 1500px;
    background-color: #ffcdd2;
    padding-top: 50px;
}

.page-inner img {
    width: 300px;
    border: 4px solid #e53935;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s;
}

.page-inner img:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.page-inner td {
    font-family: "SolanoGothicMVB-Bd", sans-serif;
    padding-bottom: 100px;
    font-weight: bold;
    width: 500px;
}

.page-inner h1 {
    color: #b71c1c;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 10px;
}

.page-inner h2 {
    margin-top: 10px;
    color: #b71c1c;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
}

.button {
    margin-top: 20px;
    line-height: 50px;
}

.button > a {
    padding: 16px 60px;
    color: #b71c1c;
    text-decoration: none;
    border: 3px solid #b71c1c;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
}

audio{
    margin-top: 20px;
}

.button > a:hover {
    color: #ffcdd2;
    background-color: #b71c1c;
    transform: scale(1.5);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}