* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'myFont';
  src: url('../fonts/PlayfairDisplay.ttf');
}

.wrapper {
  margin-top: 46px;
  height: 100%;
  width: 100%;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.col-izq {
  float: left;
  width: 50%;
  height: 1104px;
  background-image: url('../img/kendrick1.jpg');
  background-size: 50%;
  background-attachment: fixed;
}

.col-der {
  float: left;
  width: 50%;
  height: 1104px;
}

.top {
  background-image: url('../img/portrait1.jpeg');
  background-size: 50%;
  background-attachment: fixed;
  height: 552px;
  top: 0;
  border-bottom: 0;
  border-top: 0;
}

.bottom {
  position: relative;
  border-bottom: 0;
  border-top: 0;
  width: 100%;
  bottom: 0;
  height: 552px;
  background: radial-gradient(#ffcdd2, #ffb1b9);
}

.text,
.button {
  width: 100%;
  height: 50%;
  padding: 10% 0;
}

.text h1 {
  margin: 0;
  padding: 0;
  font-size: 175px;
  font-family: myFont;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  color: red;
}

.button a {
  padding: 15px 15px;
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 50px;
  font-family: myFont;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: red;
  border: 5px solid red;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
}

.button a:hover {
  color: #ffcdd2;
  background-color: red;
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}