info, track{
    font-family: Arial;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

info{
    width: 100%;
    background-color: red;
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    font-variant: small-caps;
    padding: 24px;
    color: white;
}

track > number{
    font-size: 20px;
}
